{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaggy Axel</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="typing-wrapper">
        <div class="typing">
          ... code with shaggy axel
        </div>
    </div>
    <button class="info-box" onclick="window.location.href='https://resume.shaggyaxel.ru'">
        <div class="info-text">
            <p>Hi. I'm Full-Stack Python Web Developer</p>
        </div>
    </div>
    <button class="info-box" onclick="window.location.href='https://github.com/shaggy-axel'">
        <div class="info-text">
            <p>
                I work as developer from January 2021.
            </p>
            <p>
                Now I'm developer in Supplar
            </p>
        </div>
    </div>
    <button class="info-box" onclick="window.location.href='https://t.me/shaggy_axel'">
        <div class="info-text">
            <p>I can teach and help you get a job in this wonderful field.</p>
            <p>Write me in telegram</p>
        </div>
    </div>
</body>
</html>