body {
    background-image: linear-gradient(135deg, #20155fd8, #150d3a, #1f1227, rgb(12, 26, 21));
}

.info-box{
    background-image: linear-gradient(135deg, #000000, #270750, #631591);
    margin-right: 50%;
    margin-top: 1%;
    border-radius: 3px;
    position:relative; right: -45%; top: -5%;

    animation-name:opacity;
    animation-duration:4s;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.822), 0 0 40px rgba(0, 0, 0, 0.733) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.904), 0 0 40px rgba(0, 0, 0, 0.836) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.808), 0 0 40px rgba(0, 0, 0, 0.842) inset;
}

@keyframes opacity{
    0%{opacity:0;}
    100%{opacity:1;}
}

.info-box:hover {
    transform: scale(1.05);
}

.info-text {
    font-size: 22px;
    background: -webkit-linear-gradient(rgb(7, 21, 102), rgb(92, 27, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: #9a8dda;

    font-family: 'Roboto Mono', monospace;
    padding: 0.20em 0.4em;
}

.typing-wrapper {
    color:#0b0114;
    background-color: rgba(27, 31, 35, 0.575);
    border-radius: 3px;
    font-size: 85%;
    position: relative;
    margin-right: 640;
    margin-left: 5%;
    margin-top: 5%;
    padding: 0.2em 0.4em;

    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
}

.typing {
    width: 25ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    font-size: 1em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: rgb(238, 226, 226) }
}

button{
    border-color: #150d3a;
    padding: 5px 5px;
    text-align: center;
    outline: none;
}

button:active {
    border-style: outset;
}
