{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<body background="{% static 'images/background.jpg' %}">
    <div class="menu"></div>
    <div class="blog-list">
        {% for post in post_list %}
            <a href="{% url 'post_detail' post.slug  %}">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <p> Author: {{ post.author }}</p>
            <img class="images-list" src="{{ post.image.url }}"/>
            {{ post.content|slice:":200" }}
            {% if post_list.last != post %}
                <hr>
            {% endif%}
        {% endfor %}
    </div>
</body>
</html>