{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<body>
    <div class="menu"></div>
    <div class="blog-list">
        {% for post in post_list %}
        <div class="post-in-list">
            <a href="{% url 'post_detail' post.slug  %}">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <img class="images-list" src="{{ post.image.url }}"/>
            <p class="author-in-list"> Author: {{ post.author }} | Created: {{ post.created_on }}</p>
            <p></p>
            <p class="content-in-list">{{ post.content|slice:":200" }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>